@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --gold: #baa383;
  --gold-light: rgba(186, 163, 131, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-gold-light: var(--gold-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
